# Shared
OPENSEARCH_HOST=http://opensearch:9200
OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317
LOG_LEVEL=INFO

# Gateway-only
ITEMS_SVC_URL=http://items-svc:8001
USERS_SVC_URL=http://users-svc:8002
